.svg {
  font-family: "KOHIBaeum";
  font-size: 520px;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-transform: uppercase;
  animation: stroke 5s alternate;
  fill: var(--primary-color);
}

@keyframes stroke {
  50% {
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    fill: rgba(72, 138, 204, 0);
    stroke: var(--primary-color);
    stroke-width: 2;
  }
  70%,
  80% {
    fill: rgba(72, 138, 204, 0);
    stroke: var(--primary-color);
  }
  100% {
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    fill: rgba(72, 138, 204, 0);
    stroke: var(--primary-color);
    stroke-width: 2;
  }
}

/* Header.module.css에 추가 */
/* 화면 크기에 따라 SVG 크기 조정 */
@media (max-width: 768px) {
  .svg {
    font-size: 540px;
    height: auto;
  }
}
