.container {
  width: 85rem;
  color: white;
}

.skillsWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}

.skillsTextWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.skillsTitle {
  color: var(--primary-color);
  font-size: 48px;
  font-weight: 600;
}

.skillListWrap {
  padding-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.skillWrap {
  width: 100%;
  max-width: 500px;
  background-color: rgba(17, 25, 40, 0.83);
  border: 1px solid rgba(255, 221, 25, 0.125);
  border-radius: 16px;
  box-shadow: rgba(230, 223, 23, 0.2) 0px 4px 24px;
  padding: 18px 36px;
}

.skilTitle {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.skillList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
}

.skill {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(242, 243, 244, 0.5);
  border-radius: 12px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media (max-width: 768px) {
  .skillListWrap {
    flex-direction: column;
    padding-top: 40px;
  }

  .skillWrap {
    border: 1px solid rgba(255, 221, 25, 0.3);
  }

  .skill {
    font-size: 14px;
    padding: 10px 14px;
    border: 1px solid rgba(242, 243, 244, 0.5);
  }

  .skillsTitle {
    font-size: 32px;
  }
}
