.container {
  width: 85rem;
}

.aboutMeTitle {
  color: var(--default-font-Color);
  font-size: 36px;
  font-weight: 600;
}
.aboutMeContentText {
  max-width: 600px;
}
.introduceText {
  padding-top: 60px;
}
.aboutMeContent {
  margin-top: 40px;
  color: #cbcbcb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutMeContentSvg {
  width: 550px;
}

.aboutMeBackgroundSvg {
  position: absolute;
  width: 600px;
  top: 40;
  left: 150;
}

/* Header.module.css에 추가 */
@media (max-width: 768px) {
  .container {
    padding-top: 10px;
  }
  .aboutMeTitle {
    font-size: 30px;
    font-weight: 600;
  }
  .svgWrap {
    width: 180px !important;
    margin-right: 10px;
  }
  .aboutMeContent {
    margin-top: 0px;
  }
  .aboutMeContentText {
    font-size: 16px;
    padding: 10px;
  }

  .aboutMeContentSvg {
    display: none;
  }

  .aboutMeBackgroundSvg {
    display: none;
  }
  .introduceText {
    padding-top: 20px;
  }
}
