.container {
  width: 85rem;
  color: white;
}

.contentWrap {
  padding-bottom: 40px;
  text-align: center;
}

.guideTitle {
  color: var(--primary-color);
  font-size: 48px;
  font-weight: 600;
}

.blueMarbleWrap {
  width: 1280px; /* 계산된 총 너비 */
  margin: auto; /* 페이지 중앙에 컨테이너를 배치 */
  padding-bottom: 60px;
}

.blueMarbleLeft {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 16px;
}

.blueMarbleRight {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-bottom: 16px;
}

.blueMarble {
  text-align: center;
  border: 1px solid white;
  width: 200px;
  height: 110px;
}

.blueMarbleImageWrap {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.blueMarbleMobileWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: none;
}

@media (max-width: 768px) {
  .container {
    padding-top: 310px;
  }
  .blueMarbleWrap {
    display: none;
  }
  .blueMarble {
    width: 240px;
    height: 100px;
  }
  .blueMarbleImageWrap {
    padding-top: 5px;
  }
  .blueMarbleMobileWrap {
    font-size: 13px;
    display: flex;
  }
  .guideTitle {
    font-size: 32px;
  }
}
