.container {
  width: 85rem;
  color: white;
  z-index: 1001;
}

.contentWrap {
  padding-bottom: 40px;
  text-align: center;
}

.guideTitle {
  color: var(--primary-color);
  font-size: 48px;
  font-weight: 600;
}

.blueMarbleWrap {
  width: 1280px; /* 계산된 총 너비 */
  margin: auto; /* 페이지 중앙에 컨테이너를 배치 */
  padding-bottom: 60px;
}

.blueMarbleLeft {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 16px;
}

.blueMarbleRight {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-bottom: 16px;
}

.blueMarble {
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
  border: 1px solid white;
  width: 200px;
  height: 110px;
  transition: all 0.3s ease; /* 부드러운 효과를 위한 추가 */
}

.blueMarble:hover {
  border-color: var(--primary-color); /* 마우스 오버 시 테두리 색상 변경 */
  color: var(--primary-color); /* 마우스 오버 시 글자 색상 변경 */
  transform: scale(1.1); /* 마우스 오버 시 10% 확대 */
  box-shadow: 0 0 15px var(--primary-color); /* 노란색 그림자 효과 */
  cursor: pointer;
}

.blueMarbleImageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blueMarbleMobileWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: none;
}

.learnMoreBtn {
  visibility: hidden;
  margin-top: 10px; /* 버튼 위치 조정 */
  padding: 6px 10px; /* 버튼 내부 패딩 */
  font-size: 14px; /* 글자 크기 */
  color: white; /* 글자 색상 */
  background-color: transparent; /* 배경 색상 */
  border: 1px solid white; /* 테두리 스타일 */
  cursor: pointer; /* 커서 스타일 */
  border-radius: 10px;
  transition: all 0.3s ease; /* 부드러운 효과를 위한 추가 */
}

.comingBtn {
  visibility: hidden;
  margin-top: 10px; /* 버튼 위치 조정 */
  padding: 6px 10px; /* 버튼 내부 패딩 */
  font-size: 14px; /* 글자 크기 */
  color: #ff5555; /* 글자 색상 */
  background-color: transparent; /* 배경 색상 */
  border: 1px solid #ff5555; /* 테두리 스타일 */
  cursor: pointer; /* 커서 스타일 */
  border-radius: 10px;
  transition: all 0.3s ease; /* 부드러운 효과를 위한 추가 */
}

.blueMarble:hover .learnMoreBtn {
  visibility: inherit;
  background-color: var(--primary-color); /* 마우스 오버 시 배경 색상 변경 */
  color: white; /* 마우스 오버 시 글자 색상 유지 */
}

.blueMarble:hover .comingBtn {
  visibility: inherit;
  color: #ff5555; /* 마우스 오버 시 글자 색상 유지 */
}

@media (max-width: 768px) {
  .container {
    margin-top: 80px;
  }
  .blueMarbleWrap {
    display: none;
  }
  .blueMarble {
    width: 240px;
    height: 100px;
  }
  .blueMarbleImageWrap {
    padding-top: 5px;
  }
  .blueMarbleMobileWrap {
    font-size: 13px;
    display: flex;
  }
  .guideTitle {
    font-size: 32px;
  }
}
