.container {
  width: 85rem;
  color: white;
}
.projectsWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}

.projectsTextWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.projectsTitle {
  color: var(--primary-color);
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
}

.projectYears {
  margin-top: 10px;
  z-index: 101;
}

.projectYears ul li {
  display: inline-block;
  cursor: pointer;
}

.projectYears li {
  color: var(--primary-color);
  padding: 10px 20px;
  margin: 20px;
  width: 120px;
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
}

.projectYears .active {
  background-color: var(--primary-color);
  color: black;
  font-weight: 600;
  padding: 8px 18px;
  margin: 20px;
  width: 120px;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
}

.projectListWrap {
  padding-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.projectWrap {
  width: calc(46% - 10px);
  background-color: rgba(17, 25, 40, 0.83);
  border: 1px solid rgba(255, 221, 25, 0.125);
  border-radius: 16px;
  box-shadow: rgba(230, 223, 23, 0.2) 0px 4px 24px;
  z-index: 1000 !important;
  padding: 18px 36px;
}

.projectTitle {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.projectVisible {
  font-size: 12px;
  color: #ff5555;
  border: 1px solid #ff5555;
  padding: 3px;
  position: absolute;
  margin-top: 3px;
  margin-left: 10px;
  border-radius: 5px;
}
.projectList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
}

.project {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(242, 243, 244, 0.5);
  border-radius: 12px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.projectSkills {
  width: 100%;
  display: flex;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid rgba(242, 243, 244, 0.5);
  flex-wrap: wrap; /* 여기에 추가 */
}
.skill {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  color: var(--primary-color);
}

.projectImage {
  padding: 10px;
  opacity: 0.9;
  min-height: 350px;
}

.projectMainImage {
  width: 500px !important; /* 기본적으로 너비를 최대로 설정 */
  max-width: 500px; /* 최대 너비를 500px로 제한 */
  height: auto; /* 높이를 자동으로 조절하여 비율 유지 */
}

@media (max-width: 768px) {
  .container {
    margin-top: 80px;
  }

  .projectListWrap {
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
  }

  .projectWrap {
    width: 100%;
    border: 1px solid rgba(255, 221, 25, 0.3);
  }

  .projectsTitle {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .projectYears li {
    margin: 3px;
    font-size: 14px;
    padding: 5px 10px;
    width: 60px;
  }

  .projectYears .active {
    background-color: var(--primary-color);
    color: black;
    margin: 3px;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid black;
    width: 60px;
  }

  .projectYears {
    margin-top: 20px;
  }

  .projectImage {
    padding: 10px;
    opacity: 0.9;
    height: 240px;
    min-height: 240px !important;
  }

  .projectMainImage {
    max-width: 100%; /* 모바일 화면에서는 이미지가 컨테이너에 꽉 차게 */
    height: 180px !important;
  }
}
